@charset "UTF-8";
/*消除全局内外边距*/
*{
  padding: 0;
  margin: 0;
}
/*全局设定*/
body{
  background: linear-gradient(to bottom right, rgb(114, 135, 254), rgb(130, 88, 186));
}

h1, h2, h3, h4 {
  color: #000080 ;
  font-weight: normal ;
  font-style: normal ;
  text-align: left ;
}

a:link:hover, a:visited:hover {
	background-color: #D0D0FF ;
	color: #000000 ;
	border-radius: 4px ;
}

/*页眉样式*/
header {
  padding: 0;
  margin: 0;
  font-size:1.5rem;
  color:white;
  font-weight:normal;
  border-radius:20px;
}

header > li{
  text-decoration:none;
  list-style-type:none;
}

#logo{
  width: 50px;
  height: auto;
}

/*主体部分*/
main{
  line-height: 1.25 ;
  margin: 16px auto ;
  padding: 32px ;
  border: solid #ccc 1px ;
  border-radius: 20px ;
  max-width: 500px ;
  width: 90% ;
}
main > h2{
  font-size:40px;
  border-bottom:4px solid pink;
}
main > h3{
  font-size:20px;
}

/*侧边栏*/

aside{
  line-height: 1.25 ;
  margin: 16px auto ;
  padding: 32px ;
  border: solid #ccc 1px ;
  border-radius: 20px ;
  max-width: 500px ;
  width: 90% ;
}

footer{
  background-color:white; 
}

.footer{
  width: 2em;
  height: auto;
}

