@charset "UTF-8"

body{
  background:linear-gradient(grey,white)
}

.wrapper_header {
  display: flex;
  background: linear-gradient(to right, purple,white);
}

.wrapper_header > div {
  flex: 1;
  font-size:50px
  font-color:red
}

#logo {
    width: 30px;
    height: auto;
}

footer{
  background-color:rgba(0,0,0,0.4)
}
