@charset "UTF-8";
/*全局设定*/

body{
  margin:0;
}

h1, h2, h3, h4,p {
  color: white ;
  font-weight: normal ;
  font-style: normal ;
  text-align: left ;
}
h1{
  font-size:40px;
}
h2{
  font-size:32px;
}
h3{
  fonr-size:24px;
}
a,p{
  font-size:20px;
}
a:link:hover, a:visited:hover {
  color:black;
  background-color: #D0D0FF ;
  border-radius: 4px ;
  text-decoration:none;
}
span{
  color:grey;
  font-size:20px;
}

/*页眉样式*/
header{
  padding:10px;
  background:black;
  text-align:center;
  height:300px;
}

#logo{
  width: 72px;
  height: auto;
  border:solid 2px;
  border-radius:50%;
  margin-top:80px;
  margin-bottom:50px;
}

header > section {
  text-align:center;
  /*弹性布局*/
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

header > section > a{
  color:white;
  border-top:8px solid white;
  padding:16px;
  font-size:32px;
  font-weight:normal;
  text-decoration:none;
  list-style-type:none;
  /*flex:1;*/
}
header > section > a:link:hover, header > section > a:visited:hover{
  font-size:40px;
  font-weight:0px;
}


/*主体部分*/
#main-flex-container{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: linear-gradient(to bottom right, white , 90% ,black);
}

#main-flex-container > main{
  border: solid white 4px ;
  border-radius: 20px ;
  margin: 6px ;
  background:rgba(0,0,0,0.8);
  line-height: 1.5 ;
  padding: 8px;
  flex:2 400px;
  max-width: 800px ;
}
main > h2{
  border-bottom:4px solid white;
  margin:10px; 
}
main > section{
  background:none;
  display:flex;
  flex-flow: column wrap;
}
main > section > article{
  background:black;
  border:solid 2px white;
  border-radius:20px;
  flex:100px;
  margin:10px;
}
main > section > article > h3{
  margin:4px;
  font-size:24px;
}
main > section > article > p{
   margin-top:0px;
}

/*侧边栏*/
aside{
  align-self:self-start;
  line-height: 1.25 ;
  margin:6px;
  padding: 16px ;
  border: solid white 4px ;
  border-radius: 20px ;
  flex:1 200px;
  max-width: 250px ;
  background:rgba(0,0,0,0.8);
}
aside > h3{
  border-bottom:solid white 4px;
  font-size:24px;
}
aside > ul > li > a{
  color:white;
  /*padding:10px;*/
  font-weight:normal;
  text-decoration:none;
  list-style-type:none;
}

/*页脚*/
footer{
  border-top:solid 2px white;
  line-height: 1 ;
  margin: auto ;
  padding: 4px ;
  background-color:black; 
  text-align:center;
}

footer > h3{
  text-align:center;
}

.footer{
  border:solid 2px;
  border-radius:50%;
  margin:4px;
  background:white;
  width: 40px;
  height: auto;
}

