@charset "UTF-8";

body{
  margin:0;
  /*background: linear-gradient(to bottom , white , black);*/
}

h1, h2, h3, h4 {
  color: black ;
  font-weight: normal ;
  font-style: normal ;
  text-align: left ;
}

a:link:hover, a:visited:hover {
  background-color: #D0D0FF ;
  border-radius: 4px ;
  text-decoration:none;
}

/*页眉样式*/
header{
  padding:10px;
  background:black;
  text-align:center;
  height:20%;
}

#logo{
  width: 60px;
  height: auto;
  border:solid 2px;
  border-radius:2px;
}

header > section {
  text-align:center;
  /*弹性布局*/
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

header > section > a{
  color:white;
  border-top:4px solid white;
  padding:10px;
  font-size:32px;
  font-weight:normal;
  text-decoration:none;
  list-style-type:none;
  /*flex:1;*/
}


/*主体部分*/
main{
  background:black;
  line-height: 1.5 ;
  margin: 16px auto ;
  padding: 16px;
  max-width: 800px ;
  width: 60% ;
}
main > h2{
  font-size:40px;
  border-bottom:2px solid;
}

main > section{
  background:black;
  display:flex;
  flex-flow: column wrap;
}
main > section > article{
  background:white;
  border:solid 2px red;
  border-radius:2px;
  flex:100px;
  margin:10px;
}
main > section > article > h3{
  font-size:20px;
}

/*侧边栏*/

aside{
  line-height: 1.25 ;
  margin: 16px auto ;
  padding: 32px ;
  border: solid red 2px ;
  border-radius: 20px ;
  max-width: 500px ;
  width: 30% ;
  background:black;
}

footer{
  background-color:white; 
  text-align:center;
}

.footer{
  width: 2em;
  height: auto;
}

