@charset "UTF-8";
body{
  margin:0;
  background: linear-gradient(to bottom right, rgb(114, 135, 254), rgb(130, 88, 186));
}
/*页眉样式*/
header {
  margin:0;
  text-align:center;
  background:purple;
  height:100px;
}
header > h2 {
  margin-top:15px;
  font-weight:normal;
  color:white;
}
header > section {
  /*弹性布局*/
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;

}
header > section > a{
  border-top:white solid 2px;
}
    
/*主体部分*/
main > section{
  display:flex;
  flex-flow:wrap row;
}
main > section > article {
  margin:10px;
  padding:10px;
  text-alignment:center;
  background:rgb(114, 135, 254)
  border:2px solid;
  border-radius:10px 10px;
  flex:200px 1;
}
